.footer_about,.footer_openHours,.footer_contact{
    text-align: center;
    margin-bottom: 0;
}
.footer_contactPhone{
    text-align: justify;
    padding-left: 5px;
}
footer hr{
    color: var(--color);
}